.box {
  text-transform: uppercase;
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(133, 133, 133));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 50px;
  font-weight: 800;
}
