.container {
  background-color: rgb(83, 83, 83);
  width: 320px;
  height: 100px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  background-color: rgb(184, 184, 184);
  justify-content: center;
}
